body {
    font-family: "Barriecito", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto;
    height: 955px;
}

img {
    width: 100%;
}

/*
#div1 {
    flex: 5;
}
*/

header {
    background-color: #a0271f;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}


main {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d96625;
}

p {
    font-size: 40px;
}

.title {
    font-size: 70px;
}

.icon {
    width: 50px;
}

.icon:hover {

    box-shadow: 0px 0px 100px black;
}

#burger {
    max-height: 300px;
    padding: 300px;
    /*flex: 5;*/

}

#carte {
    width: 80%;
}

footer {
    background-color: #f4e4b8;
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
    /* permet d'afficher le footer en 3 colonnes de même taille */
}


h2 {
    flex: 4;
    /* permet de prendre 4 fois plus de place que les autres éléments
     ou de prendre 4/10 de la place si il y a 2 autre flex:3*/
    margin: 0 auto;
}

.pfoot {
    flex: 3;
    margin: 0 auto;
}

/*media queries*/

@media screen and (max-width: 600px) {

    #burger {
        padding: 0px;
    }


    footer .title {
        order: 1;
    }

    .pfoot {
        order: 2;
    }

    footer {
        grid-template-columns: 1fr;
    }

}